<div class="navbar">
    <h1>Coding Dojo Wall</h1>
    <nav>
        <h2>Welcome @Context.Session.GetString("UserName")!</h2>
        <a asp-action="Logout" asp-controller="Login">Logout</a>
    </nav>
</div>